<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="format-detection" content="telephone=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <title><{$title}></title>
        <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <js file="__ROOT__/Public/ueditor/ueditor.config.js"/>  
        <js file="__ROOT__/Public/ueditor/ueditor.all.min.js"/>  
        <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->  
        <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->  
        <js file="__ROOT__/Public/ueditor/lang/zh-cn/zh-cn.js"/>  
        <link href="/Public/css/themes.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
    <body class="home-index home-intro">
        <header>
            <div class="container">
                <a href="<{:U('home/index/index')}>" class="logo">Dataism</a>
                <ul class="nav">
                    <li>
                        <a href="<{:U('home/index/example')}>">成功案例</a>
                    </li>
                    <li>
                        <a href="<{:U('home/index/product')}>">服务产品</a>
                    </li>
                    <li>
                        <a href="<{:U('home/index/intro')}>"  class="active">公司简介</a>
                    </li>
                    <li>
                        <a href="<{:U('home/index/index')}>">首页</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="intro-content">
            <div class="container"><{$intro.content}></div>
        </div>
        <div class="part4">
            <div class="container">
                <img src="/Public/images/Dataism.png">
                <div class="words">你的商业智能服务供应商<a href="<{:U('home/index/message')}>" class="contact">联系我们</a></div>
            </div>
        </div>
        <footer class=""></footer>
        <a href="<{:U('home/index/message')}>" class="onlinemsg"></a>
    </body>
</html>